.container {
    margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 220px;
      height: 100%;
      
    }
    .rokit {
      opacity: 0.815;
      padding-top: 50px;
      position:relative;
      width: 200px; 
      margin: auto;
      text-align: center;
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
      animation-iteration-count: infinite;
      
    } 
    
    @keyframes shake {
      10%, 90% {
       
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }
    @media(max-width:499px)
    {
     .container{
      height :100%
    }
   
    }
    
   
    
   
    
    