
.center div{
    
    margin-top: 7px;
    line-height: 60px;
  

}
label {
    color: rgba(255, 255, 255, 0.815);
    font-size: 20px;
    padding: 0 50px;
    line-height: 60px;
}
ul{
    display: inline;
    
   
}
ul li{

    display: inline;
    line-height: 60px;
    margin: 0 20px;
    transition: 0.4s linear;;
}


@media(max-width:499px)
{
    .sm{
        display: none;
    }
    label{
        padding: 0 10px;
    }
    .h3{
        font-size: 1em;
        margin-top: 1.33em;
        margin-bottom: 1.33em;
    }
}

